{% use '_blocks.html.twig' %} 

<!DOCTYPE HTML>

<html lang="fr">

	<head>
		<!-- OneTrust Cookies Consent Notice start for blick.ch -->
		<!-- <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="d57e5842-f42f-46bc-a4ea-4a82bd82322c" ></script>
		<script type="text/javascript">
		function OptanonWrapper() { } 
		</script> -->
		<!-- OneTrust Cookies Consent Notice end for blick.ch --> 
		
		<script src="https://cdn.tailwindcss.com"></script>  
		<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />

		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />

		<link href="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		{{ block('head_brand') }}
	</head>

	<body class="bg-gray-300">
		{{ block('gtm') }}
		{{ block('header') }}
		{{ block('menu_overlay') }}

		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/scrollReveal.min.js"></script>
		<script src="js/handlebars-v4.0.4.js"></script>
		<script src="js/main.js"></script>
		<script id="intro-template" type="text/x-handlebars-template">
		{% verbatim %}
		  	<div class="intro-{{ introPosition }}">
				{{#if introTitleBig}} <h1 class="big">{{ introTitleBig }}</h1> {{/if}}
				{{#if introTitle}} <h1>{{ introTitle }}</h1> {{/if}}
				{{#if introDate}} <h3>{{ introDate }}</h3> {{/if}}
				{{#if introHr}} <hr> {{/if}}
				{{#if introChapeau}} <p class="chapeau">{{ introChapeau }}</p>	{{/if}}
				{{#if introChapeauBig}} <p class="chapeau big">{{ introChapeauBig }}</p> {{/if}}
			</div>
		{% endverbatim %}
		</script>

		

		<script id="entry-template" type="text/x-handlebars-template">
		{% verbatim %}
			{{#each entries}}
		  	<li>
				{{#if entryYear}}
				<time class="cbp_tmtime text-center px-4 py-4" datetime="2013-04-10 18:30" >
				<!-- <span>4/10/13</span> --> <span>{{#if entryDay}} {{ entryDay }} <br>{{/if}}{{#if entryMonth}} {{ entryMonth }} <br>{{/if}}{{{ entryYear }}}&nbsp</span>
				</time>{{/if}}
				<div class="cbp_tmicon"><i class="fa fa-{{ entryIcon }}"></i></div>
				<div class="cbp_tmlabel" {{#if entryEffect}} data-sr='{{ entryEffect }}'{{/if}}>
					<h2>{{{ entryTitle }}}</h2>
					{{#if entryVideo}} <div class="video-container"><iframe height="auto" src="{{ entryVideo }}?&theme=dark&autohide=2&cc_load_policy=1&showinfo=0"frameborder="0" frameborder="0" allowfullscreen></iframe></div> {{/if}}
					{{#if entryImage}} <img src="img/{{ entryImage }}" alt=""> {{/if}}
					{{#if entryImageLegend}} <p class="legende py-2 text-xs lead-normal text-left ">{{{ entryImageLegend }}} {{/if}}</p>
					{{#if entryAudio}}
						<div class="w-full py-12 px-16 bg-custom-audio rounded-xl mb-8">
							<audio controls class="mx-auto w-full">
								<source src="audio/{{entryAudio}}" type="audio/mpeg">
							  Your browser does not support the audio element.
							  </audio> 
						</div>
					{{/if}}
						{{#if entryInsta}} {{{entryInsta}}} {{/if}}
						{{#if entryText}}<p>{{{ entryText }}}</p>{{/if}}
					{{#if entryLinkText}}
						<br>
						<a href="{{ entryLink }}" target="_blank" class="text-black font-bold underline decoration-2"><i class="fa fa-arrow-right mr-2"></i> {{ entryLinkText }}</a>
					{{/if}}
				</div>
			</li>
			{{/each}}
		{% endverbatim %}
		</script>

		

		

		<div class="hero pt-0 md:pt-12">
			<div class="hero-img-container w-full bg-black mb-8 md:mb-12 relative overflow-hidden">
				<div class="absolute top-0 right-0 bottom-0 left-0 opening"></div>
				<!-- <img src="img/this/img-opening.jpg" alt="" class="opening absolute"> -->
				<div class="overlay-black absolute top-1/3 right-0 bottom-0 left-0"></div>
				<div class="container hero-txt-container absolute bottom-6 md:bottom-20 left-1/2 -translate-x-1/2 max-w-4xl z-10 px-4 md:px-0">
					<h1 class="mb-6 md:mb-8 text-white">La candidate rebelle Lynn Bertholet révèle l’intime et dure réalité des Vert-e-s</h1>
				</div>
			</div>
			<div class="container max-w-4xl overflow-auto px-4 md:px-0">
				<!-- <h1 class="mb-8">Dans les coulisses de la campagne de Lynn Bertholet, candidate trans</h1> -->
				<p class="font-semibold text-xl md:text-2xl mt-0 md:mt-8 mb-8">
					Lynn Bertholet rêve d’être la première élue trans au Conseil national. Messages vocaux colériques, textos analytiques: durant 436 jours, la Verte genevoise s’est confiée à Blick, sans épargner son parti. L’immersion multimédia que vous allez vivre est rarissime.
				</p>
				<!-- <img src="img/this/img-opening.jpg" alt="" class="w-full mt-8 mb-10"> -->
				{{ block('authors') }}
				
				<p class="font-light text-xl mt-8 mb-6">
					
					436 jours. De l’annonce de sa candidature le 10 août 2022 à la veille des élections fédérales du 22 octobre 2023, moi, journaliste à Blick, j’ai suivi la Verte Lynn Bertholet à la trace. Principalement via WhatsApp: confidences et coups de gueule par messages vocaux — «Hello Amit, c’est Lynn» — ou textos, photos, captures d’écran, … Mais aussi en «présentiel», à vélo, à la rencontre de la population genevoise ou lors d’un débat électoral en terrain hostile.
				</p>
				<p class="font-light text-xl mb-6">
					Inexpérimentée en politique mais personnalité médiatique, la Genevoise veut devenir la première femme trans conseillère nationale. Spécialiste du monde de la finance, la sexagénaire est aussi une franc-tireuse, qui ne ménage personne, et surtout pas son propre parti. «Je dis ce que je pense et je pense ce que je dis. Et si on me vire après cet article…»

				</p>
				<p class="font-light text-xl mb-10 md:mb-20">
					Ce reportage multimédia est une plongée exceptionnelle dans les coulisses d’une campagne particulière: celle de tous les dangers. Pour les écologistes, en chute libre dans les sondages. Mais aussi pour les personnes trans, régulièrement visées par l’Union démocratique du centre (UDC), qui a fait de la lutte contre le «wokisme» une thématique nationale.
 
				</p>
			</div>
			
		</div>
	

		<div class="container max-w-4xl pt-4 md:pt-10 md:pt-16 px-4 md:px-0 pb-36">
		
			<div class="main">
				<ul class="cbp_tmtimeline"></ul>
				
			</div>
		</div>

		<footer class="container py-8 max-w-full relative">   
			<div class="w-80 top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 absolute">
				{{ block('credits') }}  
			</div>
		</footer> 
		<!-- <script src="js/zoom.js"></script> -->
		<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

		<script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		
		<script src="js/header.js"></script>

	</body>
</html>
