{% block head_brand %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="color-scheme" content="light only">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}" />
	<meta name="author" content="{{authors}}">
	<link rel="shortcut icon" href="favicon/favicon.ico" type="image/vnd.microsoft.icon" />
	
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

	<!-- FACEBOOK -->
	<link rel="image_src" href="{{ app.url ~ imgSocial }}" />
	<meta property="og:title" content="{{ titlesocial }}" />
	<meta property="og:site_name" content="Blick.ch/fr" />
	<meta property="og:image" content="{{ app.url ~ imgSocial }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ app.url }}" />
	<meta property="og:description" content="{{ description }}" />

	<!-- TWITTER -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@Blick_fr" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:image" content="{{ app.url ~ imgSocial }}" />
	<meta name="twitter:url" content="{{ app.url }}" />

	<!-- CANONICAL URL -->
	<link rel="canonical" href="{{ app.url }}"/>

	<!-- Google tag (gtag.js) -->
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WCL8QV');</script>
    <!-- End Google Tag Manager -->
{% endblock %}

{% block gtm %}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCL8QV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
	<header class="{{headertheme}} {% if headerBoxed %} headroom container max-w-screen-2xl{% endif %} h-12 w-full fixed top-0 left-0 right-0 z-20">
		<ul class="h-full inline-block ml-4">
			{# <li class="h-full float-left w-8 relative">
				<div class="btn aside-l-toggle cursor-pointer absolute right-0 h-8 w-8 top-1/2 -translate-y-2/4">
					<img src="img/icon-menu.svg" alt="icon-menu" class="absolute top-1/2 -translate-y-2/4 h-8 w-8">
				</div>
			</li> #}
			<a href="https://www.blick.ch/fr/" target="_blank"><li class="h-full float-left"><img src="img/blick-trans.svg" alt="logo de Blick" class="h-full"></li></a>
		</ul>
		<ul class="float-right h-full mr-4">
			<li class="h-full relative">
				<div class="btn aside-r-toggle cursor-pointer absolute right-0 h-8 w-8 top-1/2 -translate-y-2/4">
					<img src="img/icon-share.svg" alt="Icône de partage" class="icon-share is-visible absolute">
					<img src="img/icon-cross.svg" alt="Icône de fermeture" class="icon-cross absolute">
					<!-- <div class="share-popup w-80 h-full fixed bg-white translate-x-full z-20">
						<div class="triangle"></div>
						<span class="font-semibold uppercase text-xs mb-2 inline-block">Partager</span>
						<ul> 
							<a href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-facebook-b-noborder.svg" alt="Partager sur Facebook" class="mr-2"><span class="font-light">Facebook</span></li>
							</a>
							<a href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=blick_fr" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-twitter-b-noborder.svg" alt="icône Partager sur Twitter" class="mr-2"><span class="font-light">Twitter</span></li>
							</a>
							<a href="whatsapp://send?text={{title}}%0A%0A{{ app.url }}" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-wa-b-noborder.svg" alt="Icône Partager sur Whatsapp" class="mr-2"><span class="font-light">Whatsapp</span></li>
							</a>
							<a href="mailto:?subject=Format spécial Blick.ch :&nbsp;{{title}}&amp;body={{title}}%0A%0A{{description}}%0A%0A{{ app.url }}" rel="nofollow noopener" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-plane-b-noborder.svg" alt="Partager par email" class="mr-2"><span class="font-light">Email</span></li>
							</a>
							<li class="copy flex items-center pt-1.5 pb-1.5 cursor-pointer hover:bg-neutral-200"><img src="img/icon-link-b-noborder.svg" alt="Copier l'adresse de la page" class="mr-2"><span class="font-light">Copier l'URL</span></li>
						</ul>
					</div> -->
				</div>
			</li>
		</ul>
	</header>
	<aside class="aside-r w-80 h-full fixed bg-white z-40 right-0 translate-x-full">
		<div class="aside-header h-12 relative">
			<span class="absolute left-8 top-1/2 -translate-y-2/4 font-semibold uppercase text-xs mb-2 inline-block">Partager</span>
			<ul class="float-right h-full mr-4 w-8">
				<li class="h-full relative w-8">
					<div class="btn btn-close-aside-r cursor-pointer absolute left-0 h-8 w-8 top-1/2 -translate-y-2/4">
						<img src="img/icon-cross-black.svg" alt="Icône de fermeture" class="is-visible absolute">
					</div>
				</li>
			</ul>
		</div>
		<ul class="w-full">
			<a href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-facebook-b-noborder.svg" alt="Partager sur Facebook" class="mr-2"><span class="font-light">Facebook</span></li>
			</a>
			<a href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=blick_fr" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-twitter-b-noborder.svg" alt="icône Partager sur Twitter" class="mr-2"><span class="font-light">Twitter</span></li>
			</a>
			<a href="whatsapp://send?text={{titlesocial}}%0A%0A{{ app.url }}" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-wa-b-noborder.svg" alt="Icône Partager sur Whatsapp" class="mr-2"><span class="font-light">Whatsapp</span></li>
			</a>
			<a href="mailto:?subject=Format spécial Blick.ch :&nbsp;{{titlesocial}}&amp;body={{titlesocial}}%0A%0A{{description}}%0A%0A{{ app.url }}" rel="nofollow noopener" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-plane-b-noborder.svg" alt="Partager par email" class="mr-2"><span class="font-light">Email</span></li>
			</a>
			<li class="copy flex items-center h-20 px-8 hover:bg-neutral-200 cursor-pointer"><img src="img/icon-link-b-noborder.svg" alt="Copier l'adresse de la page" class="mr-2"><span class="font-light">Copier l'URL</span></li>
		</ul>
	</aside>
	<aside class="aside-l w-80 h-full fixed bg-white -translate-x-full z-20">
		<div class="aside-header h-12 relative">
			<span class="absolute left-8 top-1/2 -translate-y-2/4 font-semibold uppercase text-xs mb-2 inline-block">Episodes</span>
			<ul class="float-right h-full mr-4 w-8">
				<li class="h-full relative w-8">
					<div class="btn btn-close-aside-l cursor-pointer absolute right-0 h-8 w-8 top-1/2 -translate-y-2/4">
						<img src="img/icon-cross-black.svg" alt="Icône de fermeture" class="is-visible absolute">
					</div>
				</li>
			</ul>
		</div>
		<ul class="w-full">
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
		</ul>
	</aside>
	<div class="copied fixed bg-black z-20 text-white rounded-full px-4 py-2">Url copiée !</div>
{% endblock %}

{% block menu_overlay %}
	<div class="menu_overlay fixed bg-black w-full h-full z-30">

	</div>
{% endblock %}

{% block loading_overlay %}
	<div class="fixed w-full h-full bg-white z-50">
		<img src="img/blick.svg" alt="Logo de Blick" class="w-64 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">  
	</div>
{% endblock %}

{% block authors %}
<div class="container authors flex py-4 border-y">
	<div class="author w-52">
		{# <a target="_blank" href="https://www.blick.ch/fr/auteurs/gre-gory-beaud-journaliste-blick-id16519809.html" class="flex items-center"> #}
		<span class="flex items-center">
			<img src="img/amit-juillard.png" alt="Portrait d'Amit Juillard" class="rounded-full w-12 mr-2.5">
			<div class="align-text-bottom text-xs">
				<span class="inline-block font-extrabold text-black"><a href="https://www.blick.ch/fr/auteurs/amit-juillard-journaliste-blick-id16519941.html" target="_blank" class="underline">Amit  Juillard</a></span>
				<span class="inline-block text-black">Journaliste Blick</span>
			</div>
		</span>
		{# </a> #}
	</div>
	<!-- <div class="author w-52">
		<a href="" class="flex items-center">
		<img src="img/fabien-goubet.png" alt="Portrait de Fabien Goubet" class="rounded-full w-12 mr-2.5">
		<div class="align-text-bottom text-xs">
			Par <span class="inline-block font-extrabold underline">Fabien Goubet</span>
			<span class="inline-block">Journaliste Blick</span></div>
		</a>
	</div> -->
</div>
{% endblock %}

{% block social %}
<div class="container authors flex py-4 border-y">

	<div class="flex items-center mr-2">
			<div class="align-text-bottom text-xs">
				<span class="inline-block font-extrabold uppercase text-black">Partager</span>
			</div>
	</div>
	<div class="mx-1">
		<a target="_blank" href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button" class="flex items-center">
			<img src="img/icon-facebook-b.svg" alt="Icône de partage facebook" class="rounded-full">
		</a>
	</div>
	<div class="mx-1">
		<a target="_blank" href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=blick_fr" class="flex items-center">
			<img src="img/icon-twitter-b.svg" alt="Icône de partage facebook" class="rounded-full">
		</a>
	</div>
	<div class="mx-1">
		<a target="_blank" href="whatsapp://send?text={{titlesocial}}%0A%0A{{ app.url }}" class="flex items-center">
			<img src="img/icon-wa-b.svg" alt="Icône de partage facebook" class="rounded-full">
		</a>
	</div>
	<div class="mx-1">
		<a target="_blank" href="mailto:?subject=Format spécial Blick.ch :&nbsp;{{titlesocial}}&amp;body={{titlesocial}}%0A%0A{{description}}%0A%0A{{ app.url }}" class="flex items-center">
			<img src="img/icon-plane-b.svg" alt="Icône de partage facebook" class="rounded-full">
		</a>
	</div>
	<div class="mx-1">
		<span class="copy flex items-center cursor-pointer">
			<img src="img/icon-link-b.svg" alt="Icône de partage facebook" class="rounded-full">
		</span>
	</div>
	<!-- <div class="author w-52">
		<a href="" class="flex items-center">
		<img src="img/fabien-goubet.png" alt="Portrait de Fabien Goubet" class="rounded-full w-12 mr-2.5">
		<div class="align-text-bottom text-xs">
			Par <span class="inline-block font-extrabold underline">Fabien Goubet</span>
			<span class="inline-block">Journaliste Blick</span></div>
		</a>
	</div> -->
</div>
{% endblock %}
 
{% block scroller %}
<div class="scroller text-center pt-0 md:pt-6 scale-75 md:scale-100 absolute left-1/2 -translate-x-1/2 invisible md:visible">
	<div class="mouse"></div>
</div>
{% endblock %}

{% block credits %}
<div class="credits text-white text-xl mx-auto">
	<a href="https://www.blick.ch/fr/" target="_blank>"><img src="img/blick.svg" alt="Logo de Blick" class="w-36 mb-8"></a>
	<p class="mb-8"> 
		<span class="font-thin opacity-80">Production</span><br>
		<span class="font-semibold">Blick Suisse romande</span>
	</p> 
	{% if authors.photos %}
	<p class="mb-8">
		<span class="font-thin opacity-80">Photographies</span><br>
		<span class="font-semibold">{{authors.photos}}</span>
	</p>
	{% endif %}
	{% if authors.videos %}
	<p class="mb-8">
		<span class="font-thin opacity-80">Vidéos</span><br>
		<span class="font-semibold">{{authors.videos}}</span>
	</p>
	{% endif %}
	{% if authors.writer %}
	<p class="mb-8">
		<span class="font-thin opacity-80">Texte</span><br>
		<span class="font-semibold">{{authors.writer}}</span>
	</p>
	{% endif %}
	{% if authors.dev %}
	<p>
		<span class="font-thin opacity-80">Développement</span><br>
		<span class="font-semibold">{{authors.dev}}</span>
	</p>
	{% endif %}
</div>
{% endblock %}

{% block sponsor_bar %}
{# <div class="h-16 bg-black -ml-4 -mr-4 flex items-center flex-row-reverse"> #}
<div class="h-8 md:h-12 flex items-center">
	<p class="text-xs md:text-base mr-2 opacity-50">Article réalisé avec le soutien de</p>
	<a href="https://www.yuh.com/fr/" target="_blank" class="h-3/4"><img src="img/this/logo-yuh.svg" alt="Logo Yuh" class="h-full"></a>
</div>
{% endblock %}

{% block frame %}
<div class="frame fixed w-full md:h-6 z-40"></div>
<div class="frame fixed w-full md:h-6 z-40 bottom-0"></div>
<div class="frame fixed h-full md:w-6 z-40"></div>
<div class="frame fixed h-full md:w-6 z-40 right-0"></div>
{% endblock %}