{% block head_brand %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="color-scheme" content="light only">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}" />
	<meta name="author" content="{{authors}}">
	<link rel="shortcut icon" href="favicon/favicon.ico" type="image/vnd.microsoft.icon" />

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#E20000">
    <meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- FACEBOOK -->
	<link rel="image_src" href="{{ app.url ~ imgSocial }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:site_name" content="Blick.ch/fr" />
	<meta property="og:image" content="{{ app.url ~ imgSocial }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ app.url }}" />
	<meta property="og:description" content="{{ description }}" />

	<!-- TWITTER -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@Blick_fr" />
	<meta property="twitter:title" content="{{ title }}"/>
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:image" content="{{ app.url ~ imgSocial }}" />
	<meta name="twitter:url" content="{{ app.url }}" />
	<meta property="twitter:image" content="{{ app.url ~ imgSocial }}"/>
	<meta property="twitter:image:src" content="{{ app.url ~ imgSocial }}">

	<!-- CANONICAL URL -->
	<link rel="canonical" href="{{ app.url }}"/>

	<!-- Google tag (gtag.js) -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WCL8QV');</script>
<!-- End Google Tag Manager -->
{% endblock %}

{% block gtm %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCL8QV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
	<header class="{{headertheme}} {% if headerBoxed %} headroom container max-w-screen-2xl{% endif %} h-12 w-full fixed top-0 left-0 right-0 z-40">
		<ul class="h-full inline-block ml-4">
			{# <li class="h-full float-left w-8 relative">
				<div class="btn aside-l-toggle cursor-pointer absolute right-0 h-8 w-8 top-1/2 -translate-y-2/4">
					<img src="img/icon-menu.svg" alt="icon-menu" class="absolute top-1/2 -translate-y-2/4 h-8 w-8">
				</div>
			</li> #}
			<li class="h-full float-left"><a href="https://www.blick.ch/fr/"><img src="img/blick-trans.svg" alt="logo de Blick" class="h-full"></a></li>
		</ul>
		<ul class="float-right h-full mr-4">
			<li class="h-full relative">
				<div class="btn aside-r-toggle cursor-pointer absolute right-0 h-8 w-8 top-1/2 -translate-y-2/4">
					<img src="img/icon-share.svg" alt="Icône de partage" class="icon-share is-visible absolute">
					<img src="img/icon-cross.svg" alt="Icône de fermeture" class="icon-cross absolute">
					<!-- <div class="share-popup w-80 h-full fixed bg-white translate-x-full z-20">
						<div class="triangle"></div>
						<span class="font-semibold uppercase text-xs mb-2 inline-block">Partager</span>
						<ul> 
							<a href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-facebook-b-noborder.svg" alt="Partager sur Facebook" class="mr-2"><span class="font-light">Facebook</span></li>
							</a>
							<a href="https://twitter.com/intent/tweet?text={{ description ~ ' ' ~ app.url ~ ' '|url_encode }}&via=blick_fr" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-twitter-b-noborder.svg" alt="icône Partager sur Twitter" class="mr-2"><span class="font-light">Twitter</span></li>
							</a>
							<a href="whatsapp://send?text={{title}}%0A%0A{{ app.url }}" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-wa-b-noborder.svg" alt="Icône Partager sur Whatsapp" class="mr-2"><span class="font-light">Whatsapp</span></li>
							</a>
							<a href="mailto:?subject=Format spécial Blick.ch :&nbsp;{{title}}&amp;body={{title}}%0A%0A{{description}}%0A%0A{{ app.url }}" rel="nofollow noopener" target="_blank">
								<li class="flex items-center pt-1.5 pb-1.5 border-b hover:bg-neutral-200"><img src="img/icon-plane-b-noborder.svg" alt="Partager par email" class="mr-2"><span class="font-light">Email</span></li>
							</a>
							<li class="copy flex items-center pt-1.5 pb-1.5 cursor-pointer hover:bg-neutral-200"><img src="img/icon-link-b-noborder.svg" alt="Copier l'adresse de la page" class="mr-2"><span class="font-light">Copier l'URL</span></li>
						</ul>
					</div> -->
				</div>
			</li>
		</ul>
	</header>
	<aside class="aside-r w-80 h-full fixed bg-white z-40 right-0 translate-x-full">
		<div class="aside-header h-12 relative">
			<span class="absolute left-8 top-1/2 -translate-y-2/4 font-semibold uppercase text-xs mb-2 inline-block">Partager</span>
			<ul class="float-right h-full mr-4 w-8">
				<li class="h-full relative w-8">
					<div class="btn btn-close-aside-r cursor-pointer absolute left-0 h-8 w-8 top-1/2 -translate-y-2/4">
						<img src="img/icon-cross-black.svg" alt="Icône de fermeture" class="is-visible absolute">
					</div>
				</li>
			</ul>
		</div>
		<ul class="w-full">
			<a href="https://www.facebook.com/sharer.php?u={{ app.url }}&display=popup&ref=plugin&src=share_button" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-facebook-b-noborder.svg" alt="Partager sur Facebook" class="mr-2"><span class="font-light">Facebook</span></li>
			</a>
			<a href="https://twitter.com/intent/tweet?text={{ title ~ ' ' ~ app.url ~ ' '|url_encode }}&via=blick_fr" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-twitter-b-noborder.svg" alt="icône Partager sur Twitter" class="mr-2"><span class="font-light">Twitter</span></li>
			</a>
			<a href="whatsapp://send?text={{title}}%0A%0A{{ app.url }}" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-wa-b-noborder.svg" alt="Icône Partager sur Whatsapp" class="mr-2"><span class="font-light">Whatsapp</span></li>
			</a>
			<a href="mailto:?subject=Format spécial Blick.ch :&nbsp;{{title}}&amp;body={{title}}%0A%0A{{description}}%0A%0A{{ app.url }}" rel="nofollow noopener" target="_blank">
				<li class="flex items-center h-20 px-8 hover:bg-neutral-200"><img src="img/icon-plane-b-noborder.svg" alt="Partager par email" class="mr-2"><span class="font-light">Email</span></li>
			</a>
			<li class="copy flex items-center h-20 px-8 hover:bg-neutral-200 cursor-pointer"><img src="img/icon-link-b-noborder.svg" alt="Copier l'adresse de la page" class="mr-2"><span class="font-light">Copier l'URL</span></li>
		</ul>
	</aside>
	{# <aside class="aside-l w-80 h-full fixed bg-white -translate-x-full z-40">
		<div class="aside-header h-12 relative">
			<span class="absolute left-8 top-1/2 -translate-y-2/4 font-semibold uppercase text-xs mb-2 inline-block">Episodes</span>
			<ul class="float-right h-full mr-4 w-8">
				<li class="h-full relative w-8">
					<div class="btn btn-close-aside-l cursor-pointer absolute right-0 h-8 w-8 top-1/2 -translate-y-2/4">
						<img src="img/icon-cross-black.svg" alt="" class="is-visible absolute">
					</div>
				</li>
			</ul>
		</div>
		<ul class="w-full">
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
			<li class="flex items-center h-20 px-8 hover:bg-neutral-200">
				<span>
					<span class="text-sm font-light block">Chapitre 1</span>
					<span class="font-bold block">Mon titre ici ouais</span>
				</span>
			</li>
		</ul>
	</aside> #}
	<div class="overlay fixed bg-black w-full h-full z-30"></div>
	<div class="copied fixed bg-black z-40 text-white rounded-full px-4 py-2">Url copiée !</div>
	<script src="js/header.js"></script>
{% endblock %}

{% block scroller %}
<div class="scroller text-center pt-0 md:pt-8 scale-75 md:scale-100">
	<div class="mouse"></div>
</div>
{% endblock %}



{% block credits %}
<div class="credits text-white text-xl">
	<a href="https://www.blick.ch/fr/" target="_blank>"><img src="img/blick.svg" alt="Logo de Blick" class="w-36 mb-8"></a>
	<p class="mb-8">
		<span class="font-thin opacity-80">Production</span><br>
		<span class="font-semibold">Creative Lab Blick Suisse romande</span>
	</p>
	<p class="mb-8">
		<span class="font-thin opacity-80">Photographies</span><br>
		<span class="font-semibold">{{authors.photos}}</span>
	</p>
	<p class="mb-8">
		<span class="font-thin opacity-80">Textes</span><br>
		<span class="font-semibold">{{authors.writer}}</span>
	</p>
	<p>
		<span class="font-thin opacity-80">Développement</span><br>
		<span class="font-semibold">{{authors.dev}}</span>
	</p>
</div>
{% endblock %}
